/* inner Divs*/
.flex-item{
    width:20%;
    height:20%;
    background-color: rgb(214, 233, 249);

}

/* select the flexible outer divs*/
.flex-container{
    display: flex;
    border: 3px solid rgb(147, 193, 233);
    justify-content: space-evenly;
    /*flexbox properties*/
    width: 80%;
    height: 60%;
    align-items: center;
    gap: 25px;
}

.flex-container-col{
    border:2px solid rgb(69, 137, 210);
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}